
{% extends "base.html" %}

{% block contents %}

<div class ='row mt-5'>
<!-- HTML을 만들고 그 안에 데이터를 어떻게 전송할 것인지를 정의한다. POST-->


    <div class ="col-12 text-center">
            <h1>회원가입</h1>
    </div>



<form method="POST" acthion=".">
    <!-- 아래 안써주면 에러남.-->
    

    
    <div class ='row'>
        <div class ="col-12">
            <h5>{{ error }}</h5>
        </div>

    </div>
    
    

    {% comment %} <!--직접 폼태그를 작성하여 로그인-->
    <div class="mb-3" text:center;>
        <label for="username" class="form-label" >사용자 이름</label>
        <input type="text" class="form-control" id="username" placeholder="사용자 이름" name="username">
    </div>



    <div class="mb-3" text:center;>
        <label for="password" class="form-label" >비밀번호</label>
        <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password">
    </div> {% endcomment %}

    <!--장고에 있는 폼태그로 진행. 장점. 필요한 필드 정보가 미리 들어있음-->
    {% csrf_token %}
    <!--폼 반복문-->
    {% for field in  form %}

        
                    
        <!--직접 폼태그를 작성하여 로그인-->
        <div class="form-group">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" placeholder="{{field.label}}" name="{{field.name}}">
        </div>

        {% if field.errors %}
        <span style="color:red">{{ field.errors }}</span>
        {% endif %}

    {% endfor %}    
    
    
    
    <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
  

{% endblock%}